.section4{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    width: 83.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.section4__cards{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h4{
    color :#737373;
}
.card{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profile img{
    width: 60px;
    height: 60px;
}
.profile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    margin-left: 20px;
}
.profile h3{
    color: aqua;
    margin-left: 20px;
}

.profile h5{
    color :#252B42;
    margin-left: 20px;
}

svg{
    margin-left: 20px;
}

h4{
    margin-left: 20px;
}

.problems{
    text-align: center;
    width: 490px;
}